.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {background-color: #7ca7b8;}

#edit-quiz-container {
  background-color: #70949b;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 75px;
  box-shadow: 1px 1px 15px 0px rgb(34, 61, 70);
}
#take-quiz-container {
  background-color: #70949b;
  padding: 40px;
  margin-bottom: 50px;
  margin-top: 75px;
  box-shadow: 1px 1px 15px 0px rgb(34, 61, 70);
}

.takeQuizButton {
  margin-top: 10px;
}

#question-tool-bar {
  padding-bottom: 10px;
  
}
#title-field-row {
  padding-bottom: 10px;
}
.edit-title-field {
  text-align: center;
}
.input-symbol {
  color: #979499;
}


.add-question-button {
  background-color: #73b49f;
  border-color: #73b49f;
  transition-duration: 0.4s;
  
}

.add-question-button:hover {
  background-color: rgb(77, 196, 77);
  border-color: #73b49f;

}
.add-question-button:focus {
  background-color: rgb(77, 196, 77);
  border-color: #73b49f;
}
.question-tool-bar-button {
  background-color: #88a7c4;
}
.question-tool-bar-button:hover {
  background-color:#7f9db9;
    
}
.question-tool-bar-button:focus {
  background-color:#7089a1;
}

.question-toolbar-symbol {
  color: #ffffff;
}
#title-container {
  padding: 10px;
  padding-left: 0px;
  text-align: center;
  color: white;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: x-large;
  
}
#question-container {
  background-color: transparent;
  color: white;
  padding: 0px, 0px, 0px, 0px;
  
}
.edit-quiz-button {
  margin-top: 10px;
}

.answer-input {
  background-color: #5d7a80;
  border: none;
  color: white;
  padding: 5px;
}
.check-answer-button {
  background-color: #88a7c4;;
  border: none;
}
.answer-row {
  margin-bottom: 10px;
  
}