@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  --container-bg-color: #FAFAFA;
  --clickable-bg-color: #819eef;
  --clickable-hover-color: #5371C4;
  --clickable-border-color:#819eef;
  --clickable-border-hover-color:#5371C4;
  --tab-outline: #c0c0c0;
  --scroll-bar-track-color: #e9e9e9;
  --preappend-bg-color: #f6f6f6;
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  margin: 0;
  background: rgb(219, 219, 219);
   
  height: calc(100vh);
}
.landing{
  background: rgb(219, 219, 219); 
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-logo {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 100px;
}
#edit-quiz-container {
  background-color: var(--container-bg-color);
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 5vh;
  box-shadow: 31px 37px 3px -3px rgba(89, 89, 89, 0.32);
  border-radius: 3px;
}
#take-quiz-container {
  background-color: var(--container-bg-color);
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 5vh;
  box-shadow: 31px 37px 3px -3px rgba(89, 89, 89, 0.32);
  border-radius: 3px;
}
.takeQuizButton {
  margin-top: 10px;
}
#question-tool-bar {
  padding-bottom: 10px;
}
#title-field-row {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 10px;
}
.edit-title-field {
  text-align: center;
  font-size: x-large;

}
.input-symbol {
  color: #979499;
}
.add-question-button {
  background-color: var(--clickable-bg-color);
  border-color: var(--clickable-border-color)
  
}
.add-question-button:hover {
  background-color: var(--clickable-hover-color);
  border-color: var(--clickable-border-hover-color)
}
.add-question-button:focus {
  background-color: var(--clickable-hover-color);
  border-color: #73b49f;
}
.question-tool-bar-button {
  background-color: var(--clickable-bg-color);
  border-color: var(--clickable-hover-color);
}
.question-tool-bar-button:hover {
  background-color: var(--clickable-hover-color);
  border-color: #aebac4;
}
.question-tool-bar-button:focus {
  background-color:#7089a1;
}
.question-toolbar-symbol {
  color: #ffffff;
}
#title-container {
  justify-content: center;
  padding: 0px;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  color: #555c61;
  background-color: var(--container-bg-color);
  font-size: x-large;
  font-family: 'Comfortaa', cursive;
}
#question-container {
  background-color: transparent;
  color: black;
  padding: 0px, 0px, 0px, 0px;
}
.edit-quiz-button {
  margin-top: 10px;
}
.answer-input {
 
  color: black;
  margin: 0px;
  background-color: white;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}
.check-answer-button {
  background-color: var(--clickable-bg-color);
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
}
.check-answer-button:hover {
  background-color: var(--clickable-hover-color);
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}
.check-button-correct:disabled {
  background-color: green;
  border: none;
  min-width: 4em;
  cursor: default;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.answer-row {
  margin-bottom: 10px;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}
.question-take-quiz {
  border: none;
}
.quiz-question-container {
  padding-bottom: 10px;
}
.quiz-answer-container {
  padding-bottom: 4px;
}
.button-column {
  padding-left: 0px;
}
#edit-question-toolbar {
  display: flex;
  justify-content: space-between;
}
.correctly-answered {
  border-color: green;
  background-color: #c7dd9a;
  border: 1px dashed green;
  color: black;
}
.correctly-answered:disabled {
  border-color: green;
  background-color: #c7dd9a;
  color: white;
}
.incorrectly-answered {
  background-color: #f6f0f0;
  border: 1px dashed rgba(202,20,20,0.49);
}
.incorrectly-answered:focus {
  border-color: #b41c1c;
  background-color: #f6f0f0;
}
.check-button-incorrect {
  border-color: #b41c1c;
  background-color: #b41c1c;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  min-width: 4em;
}
.check-button-incorrect:focus {
  border-color: #b41c1c;
  background-color: #b41c1c;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  min-width: 4em;
  box-shadow: none!important;
}
.check-button-incorrect:hover {
  border-color: #b41c1c;
  background-color: #b41c1c;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#prepend-edit-answer-field {
  justify-content: center;
  min-width: 42px;
}
#prepend {
  min-width: 2em;
  padding: 0px;
  justify-content: center;
  color: black;
  
}
.question-container {
  margin: 0px;
  margin-bottom: 10px;
}
.question-text-container {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.quiz-list-container {
  margin-bottom: 25px;
  background-color: var(--container-bg-color);
  margin-top: 5vh;
}
.logo-marker {
  color: white;
  font-weight: bolder;
  font-style: italic;
}
.logo-auto {
  color:#343A40;
  font-weight: bolder;
  font-style: italic;
}
.logo-auto-navigation {
  color:var(--clickable-bg-color);
  font-weight: bolder;
  font-style: italic;
}
.logo-marker-navigation {
  color:#e8ead6;
  font-weight: bolder;
  font-style: italic;
}
.input-group-text {
  background-color: #ffffff;
  border-right:none;
  min-width: 42px;
  justify-content: center;
}
.fixed-container {
  max-height: 50vh;
  overflow-x: hidden;
  background-color: var(--container-bg-color);
  padding-top: 10px;
  padding-bottom: 12px;
  /*border-top-style: inset;*/
  
}
/**************Scroll-bar ************/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bar-track-color);
  margin: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #819eef;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clickable-hover-color);
}
.quiz-selector {
  height: 100%;
  margin-bottom: 5px;
  background-color: var(--container-bg-color);
  padding: 5px 5px 5px ;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.flex-item {
  padding: 2px;
}
.new-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-inside-columns {
  margin: 1px;
  padding: 20px;
  background-color: white;
  overflow-x: hidden;
  height: 120px;
  border-color: #dbd7d7;
  border-style: solid;
  border-radius: 2px;
}
.margin-inside-columns:hover {
  border-bottom: solid;
  border-color: var(--clickable-hover-color);
 
}

.quiz-title-small {
  font-weight: bolder;
  color: #50575d;
}
.num-questions {
  color: #848484;
}
.preview-edit-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.prepend-correct {
  background-color: green;
  color: white;
  border-color: green;
}
.create-container {
  overflow-y: scroll;
}

.add-question-button-container {
  padding: 10px;
  padding-left: 30px;
  padding-right: 40px;
}
.nav-item.nav-link {
  color: var(--clickable-bg-color);
}
.nav-item.nav-link.active {
  background-color: var(--container-bg-color);
  border-color: #c6c5a4;
  border-bottom-color: var(--container-bg-color);
  color: #5371C4;
  
}
.nav-item.nav-link:focus {
  background-color: var(--container-bg-color);
  border-color: var(--tab-outline);
  border-bottom-color: var(--container-bg-color);
  color: #5371C4;
  
}
.nav-item.nav-link:hover {
  background-color: var(--container-bg-color);
  border-bottom-color: #c6c5a4;
}
.nav-item.nav-link.active:hover {
  background-color: var(--container-bg-color);
  border-bottom-color: var(--container-bg-color);
}

.nav-tabs {
  border-bottom-color: var(--tab-outline);
  color: var(--clickable-bg-color);
}

.add-quiz-x {
  font-size: xx-large;
}
.add-quiz-x:hover {
  text-decoration: none;
}
.load-quiz-link:hover {
  text-decoration: none; 
}
.flex-container {
  display: flex;

}
.flex-right {
  justify-content: flex-end;
}
.flex-left {
  justify-content: flex-start;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-4 {
  flex-grow: 4;
}

.padding-right {
  padding-right: 32px;
}
.padding-left {
  padding-left: 22px;
}
.search-field {
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-color: grey;
}
.search-field:focus {
  border-style: none;
  border-bottom-style: solid;
  border-color: #5371C4;
  outline: none;
}

.padding-bottom {
  padding-bottom: 6px;
}
.padding-top {
  padding-top: 6px;
}

.form-control {
  border-left: none;
}
.load-quiz-container-title {
  font-size: large;
}
.loading-bar {
  margin-top: 20px;
}
.flex-grow {
  flex-grow: 1;
}
.background-white {
  background-color: white ;
}
.input:disabled {
  color: black;
  background-color: red;
}

.align-self-stretch {
  align-self: stretch;
}
.add-radio-button {
  height: 100%;
  width: 40px;
}

.radio {
  display: inline-flex;
  align-items: center;
}

.radio--large {
  font-size: 2rem;
}

.radio-input {
  margin: 0 0.5rem 0;
}
label {
  margin-bottom: 0px;
}
.section-title {
  font-size: x-large
}
.section-container {
  background-color: #cfd7ff;
  margin-bottom: 15px;
  padding: 20px;
}
.section-title-container {
  margin-bottom: 10px;
  
}

.flex-align-self-end {
  margin-left: auto;
}