.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {background-color: #7ca7b8;}

#quiz-container {
  background-color: #668c9b;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 15px 0px rgb(34, 61, 70);
}

#question-tool-bar {
  padding-bottom: 10px;
}
#title-field-row {
  padding-bottom: 10px;
}

.add-question-button {
  background-color: #73b49f;
  border-color: #73b49f;
  transition-duration: 0.4s
}

.add-question-button:hover {
  background-color: rgb(77, 196, 77);
  border-color: #73b49f;

}
.add-question-button:focus {
  background-color: rgb(77, 196, 77);
  border-color: #73b49f;

}
.question-tool-bar-button {
  background-color: #b7c3cc;
}

